@model IEnumerable<Car_Rental_MVC.Models.CarModel>

@{
    ViewData["Title"] = "AllAvailableCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Available Cars</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horsepower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmisson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horsepower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmisson)
            </td>
            <td>
                @Html.ActionLink("Rent", "Rent", new { id=item.CarId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CarId })
            </td>
        </tr>
}
    </tbody>
</table>