@model Car_Rental_MVC.Models.UserModelDto

@{
    ViewData["Title"] = "UserInfoDetails";
}

<h1>User info details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberRentedCars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberRentedCars)
        </dd>
    </dl>
</div>
@if (Model.Cars.Any())
{

    <hr />
    <h4>Rented cars details:</h4>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Category")
                </th>
                <th>
                    @Html.DisplayName("Make")
                </th>
                <th>
                    @Html.DisplayName("Model")
                </th>
                <th>
                    @Html.DisplayName("Engine")
                </th>
                <th>
                    @Html.DisplayName("Horsepower")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Engine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horsepower)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new {carId=item.Id, returnUrl=Context.Request.Path}, new {@class="btn btn-info"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
                @Html.ActionLink("Edit profile", "EditUserProfileByAdmin",new {email = Model.Email, returnUrl = $"/Home/UsersInfo"}, new{@class="btn btn-warning"})
    </div>
    <div class="mt-3">
                @Html.ActionLink("Back", "BackToPreviousPage", new {returnUrl =TempData["ReturnUrl"]}, new{@class="btn btn-secondary"})
    </div>
